!core/
# --------
*-build-*
*.*#
*.a
*.app
*.autosave
*.core
*.debug
*.Debug
*.dll
*.dll
*.dylib
*.exe
*.flc
*.ib_pdb_index
*.idb
*.ilk
*.la
*.lai
*.lo
*.moc
*.ncb
*.o
*.obj
*.opensdf
*.orig
*.pdb
*.prl
*.pro.user
*.pro.user*
*.pro.user.*
*.pyc
*.qbs.user
*.qbs.user.*
*.qm
*.qmlproject.user
*.qmlproject.user.*
*.rc
*.rej
*.Release
*.res
*.sdf
*.sln
*.slo
*.so
*.so.*
*.suo
*.vcproj
*.vcxproj
*_pch.h.cpp
*_resource.rc
*vcproj.*.*.user
*vcxproj.*
*~
.#*
.*.swp
.DS_Store
/.qmake.cache
/.qmake.stash
core
Makefile*
moc_*.cpp
qrc_*.cpp
tags
Thumbs.db
ui_*.h
